@font-face {
  font-family: "MyPixelFont";
  src: url("./m5x7.ttf") format("truetype");
}

body {
  font-family: "MyPixelFont";
  font-size: large;
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(58, 129, 196, 0.575);
  text-align: center;
}

.information-design {
  border: 4px ridge;
  padding: 2%;
  box-shadow: 10px 5px 5px black;
  background-image: linear-gradient(45deg, yellow, purple, pink);
  background-size: 400%;
  background-position: left;
  animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.abstract {
  border: 2px ridge;
  background-color: blue;
  color: white;
  padding: 2%;
  box-shadow: 10px 5px 5px black;
}

#conclusion {
  color: red;
}

.mapping {
  border: 4px ridge;
  background-color: aliceblue;
  padding: 2%;
  animation: box-shadow 2s infinite alternate;
}
@keyframes box-shadow {
  0% {
    box-shadow: 0 0 30px rgba(252, 123, 3, 0.5);
  }
  50% {
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.5);
  }
}

.Characterisation {
  border: 4px ridge;
  background-color: aliceblue;
  padding: 2%;
  box-shadow: 10px 5px 5px black;
  animation: text-color 5s infinite alternate;
}
@keyframes text-color {
  0% {
    color: rgb(0, 38, 255);
  }
  25% {
    color: black;
  }
  50% {
    color: red;
  }
  75% {
    color: blueviolet;
  }
  100% {
    color: rgb(255, 127, 234);
  }
}

.feedback {
  border: 4px ridge;
  background-color: aliceblue;
  padding: 2%;
  box-shadow: 10px 5px 5px black;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.feedback-orb-farm {
  border: 4px ridge;
  background-color: aliceblue;
  padding: 1%;
  box-shadow: 10px 5px 5px black;
}
.feedback-limb-body-beat {
  border: 4px ridge;
  background-color: aliceblue;
  padding: 1%;
  box-shadow: 10px 5px 5px black;
}
